body {
  display: flex;
  align-content: center;
  justify-content: center;
}

main {
  border: 1px solid black;
  width: 180px;
  height: 260px;
  padding: 0px;
  display: grid;
  grid-template-columns: [col1-start] 22% [col2-start] 22% [col3-start] 22% [col4-start] 22% [col-end];
  grid-template-rows: [input] 12% [output] 12% [but1-start] 12% [but2-start] 12% [but3-start] 12% [but4-start] 12% [but5-start] 12% [row-end];
  align-content: center;
  justify-content: center;
}
input {
  border: 1px solid black;
  border-radius: 5px;
}

#display {
  margin: 0px;
  padding: 0px 2px;
  grid-column-start: col1-start;
  grid-column-end: col-end;
  grid-row-start: input;
  grid-row-end: output;
  font-size: 16px;
  height: 1.4em;
  text-align: right;
  border: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

/* #answer {
  margin: 0px 0px 2px 0px;
  padding: 0px 2px;
  grid-column-start: col1-start;
  grid-column-end: col-end;
  grid-row-start: output;
  grid-row-end: but1-start;
  font-size: 12px;
  height: 1.4em;
  text-align: right;
  border: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
} */

#running {
  margin: 0px 0px 2px 0px;
  padding: 0px 2px;
  grid-column-start: col1-start;
  grid-column-end: col-end;
  grid-row-start: output;
  grid-row-end: but1-start;
  font-size: 12px;
  height: 1.4em;
  text-align: right;
  border: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#one {
  grid-column-start: col1-start;
  grid-column-end: col2-start;
  grid-row-start: but4-start;
  grid-row-end: but5-start;
}

#two {
  grid-column-start: col2-start;
  grid-column-end: col3-start;
  grid-row-start: but4-start;
  grid-row-end: but5-start;
}

#three {
  grid-column-start: col3-start;
  grid-column-end: col4-start;
  grid-row-start: but4-start;
  grid-row-end: but5-start;
}

#four {
  grid-column-start: col1-start;
  grid-column-end: col2-start;
  grid-row-start: but3-start;
  grid-row-end: but4-start;
}

#five {
  grid-column-start: col2-start;
  grid-column-end: col3-start;
  grid-row-start: but3-start;
  grid-row-end: but4-start;
}

#six {
  grid-column-start: col3-start;
  grid-column-end: col4-start;
  grid-row-start: but3-start;
  grid-row-end: but4-start;
}

#seven {
  grid-column-start: col1-start;
  grid-column-end: col2-start;
  grid-row-start: but2-start;
  grid-row-end: but3-start;
}

#eight {
  grid-column-start: col2-start;
  grid-column-end: col3-start;
  grid-row-start: but2-start;
  grid-row-end: but3-start;
}

#nine {
  grid-column-start: col3-start;
  grid-column-end: col4-start;
  grid-row-start: but2-start;
  grid-row-end: but3-start;
}

#zero {
  grid-column-start: col1-start;
  grid-column-end: col3-start;
  grid-row-start: but5-start;
  grid-row-end: row-end;
}

#point {
  grid-column-start: col3-start;
  grid-column-end: col4-start;
  grid-row-start: but5-start;
  grid-row-end: row-end;
}

#plus {
  grid-column-start: col4-start;
  grid-column-end: col-end;
  grid-row-start: but3-start;
  grid-row-end: but4-start;
}

#minus {
  grid-column-start: col4-start;
  grid-column-end: col-end;
  grid-row-start: but2-start;
  grid-row-end: but3-start;
}

#times {
  grid-column-start: col4-start;
  grid-column-end: col-end;
  grid-row-start: but1-start;
  grid-row-end: but2-start;
}

#divide {
  grid-column-start: col3-start;
  grid-column-end: col4-start;
  grid-row-start: but1-start;
  grid-row-end: but2-start;
}

#equals {
  grid-column-start: col4-start;
  grid-column-end: col-end;
  grid-row-start: but4-start;
  grid-row-end: row-end;
}

#plmin {
  grid-column-start: col2-start;
  grid-column-end: col3-start;
  grid-row-start: but1-start;
  grid-row-end: but2-start;
}

#clear {
  grid-column-start: col1-start;
  grid-column-end: col2-start;
  grid-row-start: but1-start;
  grid-row-end: but2-start;
}
