body {
  padding: 0px 180px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: url(business-desk-background.jpg);
  background-repeat: no-repeat;
}

main {
  background-color: rgb(34, 34, 34);
  color: silver;
  position: fixed;
  right: 40%;
  left: 60%;
  margin: 50px;
  border: 1px solid black;
  border-radius: 15px;
  width: 280px;
  height: 460px;
  padding: 0px;
  display: grid;
  grid-template-columns: [col1-start] 22% [col2-start] 22% [col3-start] 22% [col4-start] 22% [col-end];
  grid-template-rows: [input] 12% [output] 12% [but1-start] 12% [but2-start] 12% [but3-start] 12% [but4-start] 12% [but5-start] 12% [row-end];
  align-content: center;
  justify-content: center;
}

#display {
  margin: 0px;
  padding: 0px 2px;
  background-color: rgb(34, 34, 34);
  grid-column-start: col1-start;
  grid-column-end: col-end;
  grid-row-start: input;
  grid-row-end: output;
  font-size: 26px;
  height: 1.8em;
  text-align: right;
  border: 1px solid silver;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  border-radius: 8px;
}

#running {
  margin: 0px;
  padding: 0px 2px;
  background-color: rgb(34, 34, 34);
  grid-column-start: col1-start;
  grid-column-end: col-end;
  grid-row-start: output;
  grid-row-end: but1-start;
  font-size: 20px;
  height: 1.4em;
  text-align: right;
  vertical-align: text-top;
  border: 1px solid silver;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  border-radius: 5px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-x: scroll;
}

input {
  border-top: 1px solid silver;
  -webkit-border-image: -webkit-gradient(
      linear,
      0 0,
      0 100%,
      from(silver),
      to(rgba(0, 0, 0, 0))
    )
    1 100%;
  color: silver;
  background-color: rgb(34, 34, 34);
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  font-size: 26px;
  margin: 2px;
  transition: background-color 0.2s, color 0.2s;
}

input:hover {
  background-color: rgb(252, 162, 16);
  color: rgb(34, 34, 34);
}

#one {
  grid-column-start: col1-start;
  grid-column-end: col2-start;
  grid-row-start: but4-start;
  grid-row-end: but5-start;
}

#two {
  grid-column-start: col2-start;
  grid-column-end: col3-start;
  grid-row-start: but4-start;
  grid-row-end: but5-start;
}

#three {
  grid-column-start: col3-start;
  grid-column-end: col4-start;
  grid-row-start: but4-start;
  grid-row-end: but5-start;
}

#four {
  grid-column-start: col1-start;
  grid-column-end: col2-start;
  grid-row-start: but3-start;
  grid-row-end: but4-start;
}

#five {
  grid-column-start: col2-start;
  grid-column-end: col3-start;
  grid-row-start: but3-start;
  grid-row-end: but4-start;
}

#six {
  grid-column-start: col3-start;
  grid-column-end: col4-start;
  grid-row-start: but3-start;
  grid-row-end: but4-start;
}

#seven {
  grid-column-start: col1-start;
  grid-column-end: col2-start;
  grid-row-start: but2-start;
  grid-row-end: but3-start;
}

#eight {
  grid-column-start: col2-start;
  grid-column-end: col3-start;
  grid-row-start: but2-start;
  grid-row-end: but3-start;
}

#nine {
  grid-column-start: col3-start;
  grid-column-end: col4-start;
  grid-row-start: but2-start;
  grid-row-end: but3-start;
}

#zero {
  grid-column-start: col1-start;
  grid-column-end: col3-start;
  grid-row-start: but5-start;
  grid-row-end: row-end;
}

#point {
  grid-column-start: col3-start;
  grid-column-end: col4-start;
  grid-row-start: but5-start;
  grid-row-end: row-end;
}

#plus {
  grid-column-start: col4-start;
  grid-column-end: col-end;
  grid-row-start: but3-start;
  grid-row-end: but4-start;
}

#minus {
  grid-column-start: col4-start;
  grid-column-end: col-end;
  grid-row-start: but2-start;
  grid-row-end: but3-start;
}

#times {
  grid-column-start: col4-start;
  grid-column-end: col-end;
  grid-row-start: but1-start;
  grid-row-end: but2-start;
}

#divide {
  grid-column-start: col3-start;
  grid-column-end: col4-start;
  grid-row-start: but1-start;
  grid-row-end: but2-start;
}

#equals {
  grid-column-start: col4-start;
  grid-column-end: col-end;
  grid-row-start: but4-start;
  grid-row-end: row-end;
  background-color: silver;
  color: rgb(34, 34, 34);
  transition: background-color 0.2s, color 0.2s;
}

#equals:hover {
  background-color: rgb(34, 34, 34);
  color: silver;
}

#plmin {
  grid-column-start: col2-start;
  grid-column-end: col3-start;
  grid-row-start: but1-start;
  grid-row-end: but2-start;
}

#clear {
  grid-column-start: col1-start;
  grid-column-end: col3-start;
  grid-row-start: but1-start;
  grid-row-end: but2-start;
}
